@import "tailwindcss";

/* DEFINICIÓN DEL TEMA OJITOS ROJOS */
@theme {
  /* 1. TIPOGRAFÍA (Se mantiene igual) */
  --font-title: "goboldbold", "Impact", "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  --font-subtitle: var(--font-ibm), "Arial", "Helvetica", sans-serif;
  --font-body: var(--font-ubuntu), "Helvetica", sans-serif;

  /* 2. COLORES OFICIALES (Actualizados) */
  
  /* El Celeste de la marca #00a599 */
  --color-brand-primary: #00a599; 
  --color-brand-primary-hover: #00857b; /* Un poco más oscuro para el efecto hover */
  
  /* Fondos Oscuros */
  --color-brand-bg: #121212;   /* Fondo principal (Gris muy oscuro) */
  --color-brand-card: #292929; /* Fondo de tarjetas (Gris medio) */
  
  /* Texto */
  --color-brand-text: #e2e8f0; /* Blanco hueso para leer bien */
  --color-brand-muted: #94a3b8; /* Gris claro para textos secundarios */
}

/* Aplicamos los básicos al cuerpo */
body {
  font-family: var(--font-body);
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
}

/* Clases de utilidad para fuentes */
h1, h2, .font-title {
  font-family: var(--font-title);
  letter-spacing: 0.05em;
}

h3, h4, .font-subtitle {
  font-family: var(--font-subtitle);
}